<div style="display: none">
    <form class="sui-form form-horizontal">
        <div id="control-group-name" class="control-group">
            <label for="inputName" class="control-label">名称：</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="inputName" placeholder="">
            </div>
        </div>
        <div id="control-group-link" class="control-group">
            <label for="inputLink" class="control-label">链接：</label>
            <div class="controls">
                <input type="url" class="input-xlarge" id="inputLink" placeholder="">
            </div>
        </div>
        <div id="control-group-prompt" class="control-group">
            <label for="inputPrompt" class="control-label">提示：</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="inputPrompt" placeholder="">
            </div>
        </div>
    </form>
</div>