<div style="display: none">
    <form class="sui-form form-horizontal">
        <div id="control-group-name" class="control-group">
            <label for="inputName" class="control-label">用户名：</label>
            <div class="controls">
                <input type="text" class="input-large" id="inputName" placeholder="">
            </div>
        </div>
        <div id="control-group-password" class="control-group">
            <label for="inputPassword" class="control-label">密码：</label>
            <div class="controls">
                <input type="password" class="input-large" id="inputPassword" placeholder="">
            </div>
        </div>
    </form>
</div>