.item_box {
    float: left;
    height: 25px;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 330px;
}

.pillar {
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
}

.div_vertical_center {
    display: inline-block;
    vertical-align: middle;
}

.item_link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
	
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    max-width: 290px;
}

.item_link img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.item_link em {
    font-style: normal;
    padding-left: 2px;
    vertical-align: middle;
}

.item_control_group {
    display: inline-block;
    vertical-align: middle;
}

.item_control {
    background: url(../images/menu_bg.png) no-repeat left top;
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.control_delete {
    background-position: -66px -70px;
}

.control_delete:hover {
    background-position: -66px -88px;
}

.control_edit {
    background-position: -48px -70px;
}

.control_edit:hover {
    background-position: -48px -88px;
}

.control_add {
    background-position: -23px -4px;
    width: 18px;
    height: 18px;
}

.control_add_text {
    display: inline-block;
    vertical-align: middle;
}

.item_add {
    float: right;
    cursor: pointer;
}

.list {
    display: block;
/*    overflow: hidden;*/
}
.list_row {
    display: block;
/*    overflow:hidden;*/
/*    zoom: 1;*/
}
.list_row:hover {
	cursor: move;
	position: relative;
}
.column_type {
    display: block;
    float: left;
    text-align: center;
    vertical-align: top;
}
.column_seperator {
    display: block;
    float: left;
    text-align: center;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
}
.column_items {
    display: block;
    vertical-align: middle;
}
.column_tail {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: middle;
}
.item_box_type {
/*    width: 60px;*/
    font-weight: bold;
}
.item_box_seperator {
}

.dotted_border {
    border: 1px dotted #BBB;
}
